p {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.square {
  height: 4em;
  width: 4em;
  border: solid 2px black;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.board-row {
  margin: 0;
  padding: 0;
}

.board {
  display: inline-block;
  margin: 2em;
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-top: 2em;
}

.squareContent {
  font-size: 4em;
}
